* {
    margin: 0;
    padding: 0;
    font-size: 'poppins', sans-sarif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: black;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.image {
    width: 40%;
    position: relative;
    left: 800px;
    top: 70px;
}

.container {
    padding: 10px 8%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    position: relative;
    bottom: 510px;
    font-size: 62px;
}

.logo span {
    color: #ff004f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    bottom: 510px;
    left: 70px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    position: relative;
    bottom: 400px;
    font-size: 37px;
    font-family: 'Poppins', sans-serif;
}

.header-text span {
    color: #ff004f;
}

/* about */
#about {
    margin: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 80%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.about-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 59%;
}
.profile{
    text-decoration: none;
    font-size: 17px;
    color: skyblue;
}
.profile:hover{
    color: #fff;
}
.tab-contents ul li {
    list-style: none;
    margin: 14px 0;
}

.tab-contents ul li span {
    color: #b54679;
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* Websites */

#Websites{
    padding: 30px 0;
}
.Websites-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.icon{
    font-size: 40px;
    color: skyblue;
    padding: 0 20%;
    margin-bottom: 1rem;
}
.icons{
    font-size: 40px;
    color: red;
    padding: 0 15%;
    margin-bottom: 1rem;
}
.iconss{
    font-size: 40px;
    color: green;
    padding: 0 8%;
    margin-bottom: 1rem;
}
.Websites-list div{
    background-color: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.Websites-list div:hover{
  background:#ff004f;
  transform: translateY(-10px);
}
.Websites-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Websites-list a{
    text-decoration: none;
    color: skyblue;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
}
.text{
   font-size: 15px;
   font-family: 'Basic', sans-serif;
}
/* Contact */

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    background:#ff004f;
    color: #fff;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius:6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color: #61b752;
    margin-top:-40px;
    display: block;
}

/* CSS For Responsiveness */

@media only screen and (max-width:600px){
    nav{
        position: relative;
        top: 42px;
        right: 83px;
    }
    .logo{
        position: relative;
        top: -403px;
        left: 87px;
    }
    #image2{
        height: 65%;
        width: 73%;
        position: relative;
        left: 71px;
        top: 200px;
    }
    .header-text{
        position: relative;
        bottom: 450px;
        padding: 15px 0 0 10px;
        font-size: 23px;
    }
    .sub-title{
        font-size: 40px;
        margin-left: 128px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 70%;
    }
    .about-col-1{
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 17px;
        margin-right: 20px;
    }
    .title{
        margin-left: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
}
